WP_ROOT_FOLDER=/path/to/wp/root

# For acceptance and functional tests
TEST_SITE_DB_DSN=mysql:host=localhost;dbname=your_acceptance_and_functional_db_name
TEST_SITE_DB_HOST=localhost
TEST_SITE_DB_NAME=your_acceptance_and_functional_db_name
TEST_SITE_DB_USER=root
TEST_SITE_DB_PASSWORD=root
TEST_SITE_TABLE_PREFIX=wp_
TEST_SITE_ADMIN_USERNAME=admin
TEST_SITE_ADMIN_PASSWORD=password
TEST_SITE_WP_ADMIN_PATH=/wp-admin
TEST_SITE_WP_URL=http://your-test-url.test
TEST_SITE_WP_DOMAIN=your-test-url.test
TEST_SITE_ADMIN_EMAIL=admin@your-test-url.test

# For integration tests
TEST_DB_NAME=your_integration_db_name
TEST_DB_HOST=localhost
TEST_DB_USER=root
TEST_DB_PASSWORD=root
TEST_TABLE_PREFIX=wp_