.wc_actions {
  .wc-action-button-view-all-customer-orders:after {
    content: "\f504";
  }
  .wc-action-button-view-all-linked-orders:after {
    content: "\f103";
  }
  .wc-action-button-create-empty-linked-order:after {
    content: "\f10f";
  }
}
